div.messages-window style="padding: 0"
  .container style="background: #f9f9f9; height: 100%;"
    #users
      a.user--wrapper[v-for="user in users" :href="'/im?pid='+user.id"]
        .user[:data-username="user.username"]
          .user__image--wrapper[:style="[user.image.url ? {'background-image': 'url(' + user.image.url + ')'} : {'background-image': 'url(/noava.png)'}]"]
            .online-status
          h3.user__title = "{{ user.username }}"
  javascript:
    window.setOnline = (username) => {
      if (username)
        $(`.user[data-username=${username}]`).addClass('online');
    };
    window.setOffline = (username) => {
      $(`.user[data-username=${username}]`).removeClass('online');
    }
    $(document).ready(function(){
      let users = new Vue({
          el: '#users',
          data: {
              users: #{@users}
          }
      });
      window.socket.on('connected users', function (text) {
          window.connected = text;
          $('.user').removeClass('online');
          window.connected.forEach(function (element) {
              $(`.user[data-username=${element}]`).addClass('online');
          });
      });
      window.socket.on('user connected', function (text) {
          setOnline(text.username);
      });
      window.socket.on('user disconnected', function (text) {
          setOffline(text.username);
      });
    })
